.projectManagement {
    width: 100%;

    .projectManagement__search {
        display: flex;
        align-items: center;
        margin-bottom: 15px;

        input {
            width: 100%;
            height: 32px;
            border: 1px solid $text-active;
            padding-left: 7px;

            &:focus-visible {
                outline: none;
            }
        }

        .icon {
            width: 32px;
            height: 32px;
            text-align: center;
            line-height: 32px;
            background-color: $text-active;
            color: white;
            cursor: pointer;

            &:hover {
                background-color: $blue;
            }
        }

    }

    h2 {
        padding: 15px 15px 15px 0;
        font-size: 24px;
        font-weight: 500;
        color: rgb(23, 43, 77);
        margin: 0;
    }

    .projectManagement__name {
        transition: $smooth;
        cursor: pointer;

        &:hover {
            color: $blue;
            text-decoration: underline;
        }
    }

    .projectManagement__action {
        display: flex;

        div {
            cursor: pointer;
            transition: $smooth;
            color: white;
            font-size: 20px;

            &:nth-child(1) {
                color: rgb(0, 82, 204);
                margin-right: 6px;
            }

            &:nth-child(2) {
                color: red;

            }

            &:hover {
                transform: scale(1.1);
                transition: $smooth;
            }
        }
    }

    .projectManagement__table {
        position: relative;
        overflow: hidden auto;

        .projectManagement__table-member {
            position: relative;
            display: inline-block;


            .avatar {
                &:hover {
                    background-color: rgb(144, 145, 148);
                    color: white;
                }

                width: 32px;
                height: 32px;
                line-height: 32px;
                text-align: center;
                border-radius: 100px;
                margin: 2px;
                color: $gray;
                font-weight: 500;
                background-color: rgb(235, 236, 240);
                cursor: pointer;
            }
        }
    }

}

.ant-popover-title {
    text-align: center !important;
}

.table_hover {
    display: inline-block;
    margin-bottom: 1rem;
    width: 100%;
    text-align: center;



    tr {
        th {
            width: 30%;
        }

        td {
            vertical-align: center;

            padding: 5px 0;

            @include Responesive(SM) {
                padding: 10px
            }

            border-top: 1px solid #dee2e6;

            div {
                display: inline-block;
                width: 32px;
                height: 32px;
                line-height: 32px;
                text-align: center;
                border-radius: 100px;
                margin: 2px;
                color: $gray;
                font-weight: 500;
                background-color: rgb(235, 236, 240);
                cursor: pointer;
            }

            button {
                display: inline-block;
                width: 32px;
                height: 32px;
                line-height: 32px;
                text-align: center;
                border-radius: 100px;
                border: none;
                margin: 2px;
                color: $gray;
                font-weight: 500;
                background-color: rgb(241, 84, 89);
                cursor: pointer;

                &:hover {
                    background-color: rgb(241, 59, 65);

                }
            }
        }
    }
}