.taskDetail {

    .taskDetail__heading {
        color: rgb(66, 82, 110);
        display: flex;
        justify-content: space-between;

        .taskDetail__heading-left {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            div {
                margin-left: 10px;
            }

            select {
                margin-left: 6px;
            }

        }

        .taskDetail__heading-right {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .taskDetail__heading-item {
                display: flex;
                align-items: center;
                padding: 0 12px;
                height: 32px;
                border-radius: 3px;
                font-size: 18px;
                transition: $smooth;
                cursor: pointer;

                &:hover {
                    background-color: rgb(235, 236, 240);
                    transition: $smooth;
                }

                div {
                    font-size: 15px;
                    padding-left: 7px;
                }
            }
        }
    }

    .taskDetail__content {
        margin-top: 10px;
        width: 100%;
        display: flex;
        justify-content: space-between;

        .taskDetail__content-left {
            width: 65%;
            margin: 0 10px;

            .taskDetail__content-title {
                padding: 7px 0px;
                font-size: 18px;
                font-weight: 500;
            }

            .taskDetail__content-left-item {
                .editor {

                    .editor__btn {
                        display: flex;

                        button {
                            margin-top: 10px;

                            &:nth-child(1) {
                                margin-right: 6px;
                                background-color: rgb(0, 94, 235);
                                font-size: 14.5;
                                border-radius: 3px;
                                color: white;
                                padding: 0 12px;
                                border: none;
                                cursor: pointer;
                                height: 32px;

                                &:hover {
                                    background-color: rgb(0, 94, 235);
                                }
                            }

                            &:nth-child(2) {
                                margin-right: 6px;
                                background-color: transparent;
                                font-size: 14.5;
                                border-radius: 3px;
                                padding: 0 12px;
                                border: none;
                                cursor: pointer;
                                height: 32px;

                                &:hover {
                                    background-color: rgb(235, 236, 240);
                                }
                            }
                        }
                    }
                }

                label {
                    display: block;
                    padding: 20px 0px 6px;
                    padding-bottom: 5px;
                    color: rgb(94, 108, 132);
                    font-size: 15px;
                    font-weight: 500;
                }

                .block_comment {
                    position: relative;
                    margin-top: 25px;
                    font-size: 15px;

                    .avatar {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 32px;
                        line-height: 32px;
                        text-align: center;
                        width: 32px;
                        border-radius: 100%;
                        background-color: rgb(235, 236, 240);
                    }

                    .content {
                        padding-left: 44px;

                        textarea {
                            width: 100%;
                            overflow-y: hidden;
                            padding: 12px 16px;
                            border-radius: 4px;
                            border: 1px solid rgb(23, 43, 77);
                            color: rgb(137, 147, 164);
                            cursor: pointer;
                            user-select: none;

                            &:focus-visible {
                                outline: none;
                            }
                        }

                        input {
                            @extend textarea;
                            display: block;
                            border: 1px solid rgb(235, 236, 240);

                            &:hover {
                                border: 1px solid rgb(193, 199, 208);
                            }

                        }
                    }

                    .pro_tip {
                        font-size: 13px;

                        span {
                            font-weight: 500;
                        }
                    }

                    .pro_tip {}

                    .pro_tip.hide {
                        display: none;
                    }

                    .textarea__btn {
                        display: flex;

                        button {

                            &:nth-child(1) {
                                margin-right: 6px;
                                background-color: rgb(0, 94, 235);
                                font-size: 14.5;
                                border-radius: 3px;
                                color: white;
                                padding: 0 12px;
                                border: none;
                                cursor: pointer;
                                height: 32px;

                                &:hover {
                                    background-color: rgb(0, 94, 235);
                                }
                            }

                            &:nth-child(2) {
                                margin-right: 6px;
                                background-color: transparent;
                                font-size: 14.5;
                                border-radius: 3px;
                                padding: 0 12px;
                                border: none;
                                cursor: pointer;
                                height: 32px;

                                &:hover {
                                    background-color: rgb(235, 236, 240);
                                }
                            }
                        }
                    }
                }

                .block_comment-sent {
                    position: relative;
                    margin-top: 25px;

                    .block_comment-avatar {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 32px;
                        line-height: 32px;
                        text-align: center;
                        width: 32px;
                        border-radius: 100%;
                        background-color: rgb(235, 236, 240);
                    }

                    .block_comment-content {
                        padding-left: 44px;

                        .content-heading {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;

                            div {
                                padding-right: 12px;
                                padding-bottom: 10px;
                                color: rgb(66, 82, 110);

                                &:nth-child(1) {
                                    font-weight: 500;
                                    font-size: 15px;
                                }

                                &:nth-child(2) {
                                    font-size: 13px;
                                }
                            }
                        }

                        .content-body {
                            padding-bottom: 10px;
                            font-size: 15px;
                        }

                        .content-funtion {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            font-size: 14px;
                            color: rgb(66, 82, 110);

                            div {
                                padding-right: 5px;
                                cursor: pointer;

                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }

                .funtion {}
            }


        }
    }

    .taskDetail__content-right {
        width: 35%;
        margin: 0 10px;

        .taskDetail__content-right-item {
            label {
                display: block;
                margin: 24px 0px 5px;
                text-transform: uppercase;
                color: rgb(94, 108, 132);
                font-size: 12.5px;
                font-weight: 500;
            }

            select {
                font-size: 12px;
                padding: 0px 12px;
                height: 32px;
                background: rgb(223, 225, 230);
                border: 1px solid transparent;
                border-radius: 4px;
                cursor: pointer;
                transition: $smooth;

                &:focus-visible {
                    outline: 1px solid $blue;
                }

                &:hover {
                    border: 1px solid $blue;
                    transition: $smooth;
                }
            }

            input {
                width: 100%;
                height: 32px;
                padding: 0px 7px;
                border-radius: 3px;
                border: 1px solid rgb(223, 225, 230);
                color: rgb(23, 43, 77);
                background: rgb(244, 245, 247);

                &:focus-visible {
                    background: rgb(255, 255, 255);
                    outline: 1px solid rgb(76, 154, 255);
                    box-shadow: rgb(76 154 255) 0px 0px 0px 1px;
                }
            }

            .time_tracking-text {
                display: flex;
                justify-content: space-between;
                color: rgba(0, 0, 0, 0.85);
                font-weight: 500;
            }

            .time_tracking-input {
                display: flex;
                justify-content: space-between;

                .time_tracking-input-item {
                    label {
                        display: block;
                        padding-bottom: 5px;
                        color: rgb(94, 108, 132);
                        font-size: 13px;
                        font-weight: 500;
                        margin: 0;
                        text-transform: none;
                    }
                }
            }

            p {
                padding: 20px 0px 6px;
                padding-bottom: 5px;
                color: rgb(94, 108, 132);
                font-size: 13px;
                font-weight: 500;
                margin: 0;
                padding: 0;
            }
        }
    }
}