.hometemplate {
    padding: 25px 32px 50px 334px;

    @include Responesive(LG) {
        padding-left: 84px;
    }

    .hometemplate__nav {
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        width: 64px;
        height: 100vh;
        background-color: $blue;
        transition: all 0.1s ease 0s;
        color: $white;
        font-size: 27px;

        &:hover {
            width: 200px;
            box-shadow: rgb(0 0 0 / 60%) 0px 0px 50px 0px;
            transition: all 0.1s ease 0s;

            .hometemplate__nav-icon {
                div {
                    display: initial;
                    right: 0;
                    transition: right 0.1s ease-in
                }
            }
        }

        .hometemplate__nav-logo {
            width: 100%;
            height: 42px;
            line-height: 42px;
            margin: 20px 0 10px 0;

            a {
                position: relative;
                left: 18px;
            }
        }

        .hometemplate__nav-icon {
            position: relative;
            width: 100%;
            height: 42px;
            transition: $smooth;
            padding-left: 64px;

            display: flex;
            align-items: center;

            &:hover {
                background-color: rgba(255, 255, 255, 0.1);
                transition: $smooth;
            }

            .icon {
                position: absolute;
                left: 18px;
            }

            div {
                position: relative;
                width: 100%;
                right: 12px;
                line-height: 1.2px;
                font-size: 12px;
                display: none;
                font-weight: 600;
                transition: right 0.1s ease-in
            }
        }

        .hometemplate__nav-icon.end {
            position: absolute;
            bottom: 0;
        }

    }

    .homeTemplate__navContent {
        position: fixed;
        z-index: 99;
        padding: 25px 16px;
        top: 0;
        left: 64px;
        width: 230px;
        height: 100vh;
        background-color: $light-gray;

        @include Responesive(LG) {
            display: none;
        }

        .homeTemplate__navContent-header {
            display: flex;
            align-items: center;
            padding-bottom: 24px;

            .logo {
                padding: 8px 15px;
                background: #ff5630;
                color: $white;
                border-radius: 5px;
                font-size: 20px;
            }

            .content {
                margin-left: 10px;

                div {
                    &:nth-child(1) {
                        color: rgb(66, 82, 110);
                        font-size: 15px;
                        font-weight: 500;
                    }

                    &:nth-child(2) {
                        color: rgb(94, 108, 132);
                        font-size: 13px;
                        font-weight: 400;
                    }
                }
            }
        }

        .homeTemplate__navContent-item {
            display: flex;
            align-items: center;
            padding: 8px 12px;
            color: $gray;
            cursor: pointer;
            transition: $smooth;

            &:hover {
                background-color: rgb(235, 236, 240);
                transition: $smooth;
            }

            .icon {
                font-size: 20px;
                margin-right: 15px;
            }

            div {
                font-size: 14.7px;
                font-weight: 400;
            }
        }

        .homeTemplate__navContent-item.active {
            background-color: rgb(235, 236, 240);
            color: $blue;
        }
    }

    .homeTemplate__content {
        background-color: red;
    }

}